cython==0.29.7
numpy==1.16.1
scipy==1.2.1
openpyxl==2.6.2
ecos==2.0.7.post1
vtk==8.1.2
traits==6.1.1
traitsui==7.0.0
cvxpy==1.0.21
fancyimpute==0.3.2
pyopengl==3.1.0
pyqt5==5.10.1
scikit-learn==0.21.3
h5py==2.10.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
gunicorn==20.0.4
Flask==1.1.2